<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="JAIN_SIP_LOG_CONFIG">
    <Properties>
        <Property name="filename">logs/debuglog.txt</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d [%-6p] %c - %m%n"/>
        </Console>
        <File name="File" fileName="${filename}">
            <PatternLayout pattern="%d [%-6p] %c - %m%n"/>
        </File>
        <Async name="Async">
            <AppenderRef ref="File"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
